*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

body{
    background: #f3f3f3;
}

main{
    margin-top: 100px;
    padding-bottom: 100px;
}

main h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: transparent;
    background-color: #b3b3b3;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.container__box{
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 218px;
    height: 200px;
    background: #fff;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.box:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
    background: #0099E9;
    z-index: 1;
}


.box h5{
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 14px;
    color: #777777;
}

.box:hover h5{
    color: #fff;
    font-size: 15px;
}

.flex{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.modal{
	display: none;
	position: fixed;
	z-index:1;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: 30%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: 1s;
}

a{
    background-color: #0099E9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    background-color: #0185cc;
}

@keyframes modal{
	from{right:-330px; opacity:0;}
	to{right: 0; opacity:1;}
}

.close{
	color: #f2f2f2;
	font-size:30px;
	font-weight: bold;
}
.close:hover{
	color:#7f8c8d;
	text-decoration: none;
	cursor: pointer;
}

.modal-header, .footer{
	padding: 8px 16px;
	background: #34495e;
	color:#f2f2f2;
}

p{
	text-align: justify;
}

.modal-body{
	padding: 20px 16px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
	.textos{
		padding: 150px;
	}
}

@media screen and (max-width:500px){
	.textos{
		padding:50px;
	}
}